---
import Layout from '../layouts/Layout.astro';
import pool from '../lib/db.js';

let datos: { No_Ficha: number; Nombre: string; Apellido_Paterno: string; Apellido_Materno: string; }[] = [];
try {
	const [rows] = await pool.query('SELECT * FROM alumnos ');
	datos = rows || []; 
	console.log("Datos obtenidos:"); // Depuración
	} catch (err) {
	console.error("Error en la consulta:");
	}
---
<Layout>
<h1 class="Title ">Aspirantes</h1>
<div class="container">
	{datos.map((dato) => ( 
		<div class="Card"> 
			<span>{dato.No_Ficha} </span> 
			<p class="Name">{dato.Nombre} {dato.Apellido_Paterno} {dato.Apellido_Materno} </p>
		</div>
	))}
</div>
</Layout>
<style>
	*{
		font-family: proxima-nova, sans-serif;
	}
	.Title{
		text-align: center;
		display: block;
	}
	.container {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;
	}
	.Card {
		width: 190px;
		height: 254px;
		padding:20px ;
		box-sizing: content-box;
		border-radius: 30px;
		background: rgba(211, 211, 211, 0.21);
		box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
	}
	.Card span {
		font-size: 20px;
		font-weight: bold;
	}
	.Card .Name {
		font-size: 16px;
		font-weight: bold;
	}
</style>